/* popup,css */
.leaflet-popup.plane-popup .leaflet-popup-content-wrapper {
  background-color: rgba(51, 51, 51, 0.75);
  color: #fff;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.leaflet-popup.plane-popup .leaflet-popup-tip {
  background-color: rgba(30, 41, 59, 0.9);
}
